<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>カウント発展</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/count.css">
  </head>
  <body>
    <% @counts.each do |count| %>
    <% if count.number % 15 == 0 %>
      <h1 class="green"><%= count.number %></h1>
      <% elsif count.number % 5 == 0 %>
      <h1 class="orange"><%= count.number %></h1>
      <% elsif count.number % 3 == 0 %>
      <h1 class="red"><%= count.number %></h1>
      <% else %>
      <h1><%= count.number %></h1>
    <% end %>
      <form action="/plus/<%= count.id %>" method="post">
        <input type="submit" value="+">
      </form>
      <form action="/minus/<%= count.id %>" method="post">
        <input type="submit" value="-">
      </form>
      <form action="/clear/<%= count.id %>" method="post">
        <input type="submit" value="clear">
      </form>
    <% end %>
    <form action="/newcount" method="post">
        <input type="submit" value="newcount">
      </form>
  </body>
  
</html>
